<div class="divLogin">
    <div class="login">
        <h1>Registro</h1>
    
        <form>
            <input type="text" name="u" placeholder="Email" [(ngModel)]="email" />
            <input type="password" name="p" placeholder="Contraseña" [(ngModel)]="password" />
            <button class="btn btn-primary btn-block btn-large" (click)="Register()" >Registrar Nuevo Usuario</button>
        </form>

        
        @if (flagError) {
            <br><p style="text-align: center; color: azure;">{{errorMessage}}</p>
        }
        
        <div class="btnVolver">
            <button class="btn btn-primary" (click)="goBackLogin('login')">Volver</button>
        </div>

    
    </div>
</div>
