<div class="divLogin">
    <div class="login">
        <h1 style="font-size: 50px;">Login</h1>
        <form>
            <input class="data-input" type="text" name="u" placeholder="Email" [(ngModel)]="email"/>
            <input class="data-input" type="password" name="p" placeholder="Contraseña" [(ngModel)]="password"/>
            <button (click)="Login('home')" class="custom-btn btn-2" style="width: 100%; font-size: 20px;">Ingresar</button>
        </form>

        <a href="registro"><br><p style="text-align: center; color: #0bf4f3;">¿No tiene una cuenta? Registre un nuevo usuario...</p></a>

        <button class="custom-btn btn-2" style="position: fixed; right: 20%; font-size: 15px;" (click)="CompleteCredentialsUser('')" >Usuario Dos</button>
        <button class="custom-btn btn-2" style="position: fixed; right: 57%; font-size: 15px;" (click)="CompleteCredentialsUser('diego')">Usuario Uno</button>

        @if (errorMessage != '') {
           <br><br><br><p style="font-size: 18px; border: 1px solid rgba(243, 19, 224, 0.94);background-color: #42083d; ; color: #0bf4f3; padding: 5px; text-align: center;">{{errorMessage}}</p>
        }


    </div>
</div>