<div class="divWho">

    <div class="who">
        <h1 class="h1-teal" style="font-size: 45px; text-align: center;">Quien Soy</h1>
        <h1 class="h1-teal" style="color: aliceblue;">Alumno:</h1>
        <p class="p-teal" style="font-size: 20px; color: aliceblue;">
            Nombre: Francisco Diaz Barbacovi<br>
            Edad: 25 años<br>
            Cursando: Laboratorio IV 2ndo Cuatri<br>
            Programador
        </p>

 
        <img src="media/FranDiazFoto.jpg" alt=""> 
        <h1 class="h1-pink" style="color: aliceblue; position: fixed; top: 40%; right: 45%;">Juego:</h1>
        <p class="p-pink" style="font-size: 20px; color: aliceblue; position:fixed; top : 50%; right: 15%;">
                Todavia no tengo el juego en concreto.<br>
                Estaba pensando en un juego en donde<br>
                puedas apuntar y disparar con el mouse, <br>
                pero todavia no lo tengo bien concrecto.<br>
        </p>

    </div>
</div>
