.h1-teal{
    font-family: 'Open Sans', sans-serif;
    text-shadow:
        0 0 5px #0bf4f3,
        0 0 10px #0bf4f3,
        0 0 20px #0bf4f3,
        0 0 40px #0bf4f3,
        0 0 80px #0bf4f3;
}

.h1-pink{
    font-family: 'Open Sans', sans-serif;
    text-shadow:
        0 0 5px rgba(243, 19, 224, 0.94),
        0 0 10px rgba(243, 19, 224, 0.94),
        0 0 20px rgba(243, 19, 224, 0.94),
        0 0 40px rgba(243, 19, 224, 0.94),
        0 0 80px rgba(243, 19, 224, 0.94);
}


.who {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    top: 29%;
    left: 34%;
    margin: -150px 0 0 -150px;
    border-radius: 0%;
    width: 800px;
    height: 700px;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(243, 19, 224, 0.94);
    padding: 30px;
}

.divWho {
    background-image: url('fondoHome.jpg');
    height: 92.15vh;
}

.divFoto {
    background-image: url('FranDiaz.jpg');
    position: fixed;
    width: 200;
    height: 267;
    top: 75%;
    right: 30%;
}

.p-pink {
    font-family: 'Open Sans', sans-serif;
    text-shadow:
        0 0 5px rgba(243, 19, 224, 0.94),
        0 0 10px rgba(243, 19, 224, 0.94),
        0 0 20px rgba(243, 19, 224, 0.94),
        0 0 40px rgba(243, 19, 224, 0.94),
        0 0 80px rgba(243, 19, 224, 0.94);
}

.p-teal {
    font-family: 'Open Sans', sans-serif;
    text-shadow:
        0 0 5px #0bf4f3,
        0 0 10px #0bf4f3,
        0 0 20px #0bf4f3,
        0 0 40px #0bf4f3,
        0 0 80px #0bf4f3;
}