<div class="divHome">
    <div class="home">
        <h1 class="titleHome">Fun Time Games</h1> <i class="fa-solid fa-user"></i>


        <button (click)="goToQuienSoy()" class="btn btn-primary" style="position: fixed ;top: 10%; left: 85%; font-size: 15px;">Quien Soy</button>

        @if(dataAuth.authData.currentUser?.email){

            <div class="divUser">

                <p style="color: aliceblue;">Usuario: {{dataAuth.authData.currentUser?.email}}</p>

                <button class="btn" style="position: fixed; top: 79%; right: 13%;" (click)="LogOut()" >Cerrar Sesión</button>

            </div>

        }
    </div>
</div>
